.card {
    display: flex;
    padding: 20px 5px;
    border: 2.5px solid $base-font-color;
    border-radius: 12px;
    background-color: $searchbar-color;
    margin: 1em;
    align-items: center;
    // width: 425px;
    // overflow: visible;
}

.avatar {
    border-radius: 50%;
    padding: 1em;
    background-color: $searchbar-color;
}

.text-container {
    padding-left: 30px;
    background-color: $searchbar-color;

    p {
        color: $base-font-color;
        line-height: .8em;
    }

    h2 {
        color: $base-font-color;
    }
}

.name,
.email,
.address,
.phone,
.birthday,
.avatar,
.modal-content,
.modal-close {
    background-color: $searchbar-color;
}