* {
    font-family: 'Lato', sans-serif;
    background-color: $base-color;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: $base-font-color;
    margin-left: 15px;
  }